rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Portfolio collections: anyone can read, anyone can write for now to allow simple admin
    match /certifications/{document} {
      allow read: if true;
      allow write: if true;
    }
    match /projects/{document} {
      allow read: if true;
      allow write: if true;
    }
  }
}
